
<ion-header>
  <ion-navbar>
    <ion-title>{{ mode }} {{ habitName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="habitForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-list-header>
        My Habit details
      </ion-list-header>
      <ion-item>
        <ion-label floating>Habit Name</ion-label>
        <ion-input type="text" formControlName="habitName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input type="text" formControlName="description"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Habit Type</ion-label>
          <ion-select interface="popover">
              <ion-option
              *ngFor="let option of habitTypeOptions"
              [value]="option">{{ option }}</ion-option>
          </ion-select>
      </ion-item>
      <ion-item>
          <ion-label>Add more details</ion-label>
          <ion-toggle value="moreDetails" [checked]="moreOptionsInitial" (ionChange)="onToggleMoreDetails($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Show subtasks</ion-label>
        <ion-toggle value="showSubtasks" [checked]="showSubTasksInitial" (ionChange)="onToggleShowSubtasks($event)"></ion-toggle>
    </ion-item>
    </ion-list>
    <!--More details list-->
    <ion-list [class.hide]="displayMoreDetailsOptions">
        <ion-list-header>
          More details
        </ion-list-header>
        <ion-item>
          <ion-label>Repeat</ion-label>
          <ion-toggle value="repeat" checked="false" (ionChange)="onToggleDates($event)"></ion-toggle>
        </ion-item>
        <ion-item [class.hide]="displayDates">
          <ion-label>Start Date</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" ></ion-datetime>
        </ion-item>
        <ion-item [class.hide]="displayDates">
          <ion-label>End Date</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Start Time</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" ></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Add Location</ion-label>
            <ion-toggle value="map" [checked]="locationAddedInitial" (ionChange)="onToggleLocation($event)"></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-list no-lines [class.hide]="displayToggleLocationOptions">
      <ion-list-header>
        Location details
      </ion-list-header>
      <ion-item>
          Aparece Mapa
      </ion-item>
      <button ion-item>
        <ion-label>Travel Time</ion-label>
        <ion-note item-end>None</ion-note>
      </button>
    </ion-list>
    <!--Subtasks list-->    
    <ion-list [class.hide]="displaySubTasksOptions">
      <ion-list-header>
        My Habit subtasks 
        <button ion-button item-end outline icon-end (click)="loadSubTaskPage(subTaskPage)">
            Create new
            <ion-icon name='star'></ion-icon>
        </button>
      </ion-list-header>
      <ion-item (click)="openMenu(subTask)" *ngFor="let subTask of subTasksArray">
        {{ subTask.getNameTask() }}
      </ion-item>      
    </ion-list>
    <button
    type="submit"
    ion-button
    block
    [disabled]="!habitForm.valid">{{ mode }} Habit</button>
  </form>
</ion-content>
