<ion-header>

  <ion-navbar>
    <ion-buttons start>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>My Habits</ion-list-header>
    <ion-item *ngFor="let habit of habits">        
      <ion-avatar item-start>
        <img src="" alt="">
      </ion-avatar>
      <div (click)="onLoad(habitPage, habit)">
        <h2>{{ habit.getHabitName() }}</h2>
        <p>{{ habit.getDescription() }}</p>
      </div>
      <div id="subtasks">
       <div id="showButtonSubTasks"> 
        <button ion-button outline (click)="toggleDisplay(status)">
          {{ subTaskBtnText }}
        </button>
      </div>
      <div id="percentageSubtasks">
        43%
      </div>
    </div>
      <ion-list [class.hide]="status" no-lines>
        <ion-list-header>
          My Subtasks
        </ion-list-header>  
        <ion-item (click)="openMenu(subTask)" *ngFor="let subTask of habit.getSubTasks()">
            {{ subTask.getNameTask() }}
          </ion-item>
        </ion-list>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
      <button ion-fab color="vibrant" mini (click)="onLoad(habitPage)">
        <ion-icon name="add"></ion-icon>
      </button>
  </ion-fab>

</ion-content>
