page-home {
    hide {
        display: none;
    }

    .ion-md-share {
        color: #ED4248;
      }
      .ion-md-arrow-dropright-circle {
        color: #508AE4;
      }
      .ion-md-heart-outline {
        color: #31D55F;
      }
      .action-sheet-cancel ion-icon,
      .action-sheet-destructive ion-icon {
        color: #757575;
      }

      #subtasks {
        width: 100%;
        overflow: auto;
      }
      #showButtonSubTasks {
        width: 50%;
        float:left; /* add this */
      }
      #percentageSubtasks {
          overflow: hidden; /* if you don't want #second to wrap below #first */
      }

}
