
<ion-header>
  <ion-navbar>
    <ion-title>SubTask</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="subTaskForm" (ngSubmit)="onSubmit()">  
  <ion-list>
    <ion-list-header>{{ mode }} Subtask</ion-list-header>
    <ion-item>
        <ion-label floating>Task Name</ion-label>
        <ion-input type="text" formControlName="taskName"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Habit Type</ion-label>
        <ion-select interface="popover">
          <ion-option
              *ngFor="let option of subtaskTypeOptions"
              [value]="option">{{ option }}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Repeat</ion-label>
        <ion-toggle value="repeat" checked="false" (ionChange)="onToggleDates($event)"></ion-toggle>
      </ion-item>
      <ion-item [class.hide]="displayDates">
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}"></ion-datetime>    
      </ion-item>
      <ion-item [class.hide]="displayDates">
        <ion-label>End Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="startTime" [ngModelOptions]="{standalone: true}"></ion-datetime>
      </ion-item>
      <ion-item [class.hide]="displayToggleLocation">
          <ion-label>Add Location</ion-label>
          <ion-toggle value="map" checked="false" (ionChange)="onToggleLocation($event)"></ion-toggle>
      </ion-item>
      <ion-list no-lines [class.hide]="displayToggleLocationOptions">
        <ion-list-header>
          Location details
        </ion-list-header>
        <ion-item>
            Aparece Mapa
        </ion-item>
        <ion-item>
          <ion-label>Travel Time</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="travelTime" [ngModelOptions]="{standalone: true}"></ion-datetime>
        </ion-item>
      </ion-list>
      <!--Money Section-->
      <ion-item [class.hide]="displayToggleMoney">
          <ion-label>Money Involved</ion-label>
          <ion-toggle value="money" checked="false" (ionChange)="onToggleMoney($event)"></ion-toggle>
      </ion-item>
      <ion-list no-lines [class.hide]="displayToggleMoneyOptions">
          <ion-list-header>
            My money goals
          </ion-list-header>
          <ion-item>
              <ion-label>Your goal ?</ion-label>
              <ion-select interface="popover">
                <ion-option
                *ngFor="let option of moneyGoalsOptions; let i = index"
                [value]="i">{{ option }}</ion-option>
              </ion-select>         
          </ion-item>
          <ion-item [class.hide]="displayMoneyGoalPercentage">
              <ion-label floating>Percentage</ion-label>
              <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item [class.hide]="displayBudgetFields">
              <ion-label>Want to create a Budget ?</ion-label>
              <button ion-button outline (click)="loadBudgetScreen(budgetPage)">
                {{ moneyBudgetButton }}
              </button>
          </ion-item>          
      </ion-list>
      <!--Exercise section-->
      <ion-item [class.hide]="displayToggleExercise">
          <ion-label>Exercise Involved</ion-label>
          <ion-toggle value="exercise" checked="false" (ionChange)="onToggleExercise($event)"></ion-toggle>
      </ion-item>
      <ion-list no-lines [class.hide]="displayToggleExerciseOption">
          <ion-list-header>
            My healthier goals
          </ion-list-header>
          <ion-item>
            <ion-label>Your goal ?</ion-label>
            <ion-select interface="popover">
                <ion-option
                *ngFor="let option of healthGoalsOptions; let i = index"
                [value]="i">{{ option }}</ion-option>              
            </ion-select>         
          </ion-item>
          <ion-item [class.hide]="displayKmInput">
              <ion-label floating>How many km</ion-label>
              <ion-input type="text" ></ion-input>
          </ion-item>
      </ion-list>
      <!--Learning Section-->
      <ion-item [class.hide]="displayToggleLearning">
          <ion-label>Learning Involved</ion-label>
          <ion-toggle value="learning" checked="false" (ionChange)="onToggleLearning($event)"></ion-toggle>
      </ion-item>
      <ion-list no-lines [class.hide]="displayToggleLearningOptions">
          <ion-list-header>
            My education goals
          </ion-list-header>
          <ion-item>
            <ion-label>Your goal ?</ion-label>
            <ion-select interface="popover">
                <ion-option
                *ngFor="let option of educationGoalsOptions; let i = index"
                [value]="i">{{ option }}</ion-option>
            </ion-select>         
          </ion-item>
          <ion-item [class.hide]="displayEducationGoalField">
              <ion-label floating>{{ educationFieldLabel }}</ion-label>
              <ion-input type="text" value=""></ion-input>
          </ion-item>
      </ion-list>
      <!--Remove a bad habit section-->
      <ion-item [class.hide]="displayToggleBadHabit">
          <ion-label>Remove a Bad Habit</ion-label>
          <ion-toggle value="badHabit" checked="false" (ionChange)="onToggleBadHabit($event)"></ion-toggle>
      </ion-item>
      <ion-list no-lines [class.hide]="displayToggleBadHabitOptions">
          <ion-list-header>
            Remove bad habit
          </ion-list-header>
          <ion-item>
            <ion-label>Your goal ?</ion-label>
            <ion-select interface="popover">
                <ion-option
                *ngFor="let option of badHabitRemoveOptions; let i = index"
                [value]="i">{{ option }}</ion-option>
            </ion-select>         
          </ion-item>
          <ion-item [class.hide]="displayBadHabitField">
              <ion-label floating>Which</ion-label>
              <ion-input type="text" value=""></ion-input>
          </ion-item>
      </ion-list>
    </ion-list>
    <button
    type="submit"
    ion-button
    block
    [disabled]="!subTaskForm.valid">{{ mode }} subtask</button>
  </form>
</ion-content>
